<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ASCII Video Stream</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <style>
      body {
        background-color: black;
        color: #daa520;
        font-family: "Courier New", Courier, monospace;
        white-space: pre;
        font-size: 6px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <pre id="ascii-output">Waiting for video stream...</pre>

    <script>
      var socket = io();

      socket.on("ascii_frame", function (data) {
        document.getElementById("ascii-output").innerText = data.data;
      });

      socket.emit("start_stream");
    </script>
  </body>
</html>
